Django==3.1.2
pipenv==2020.8.13
ariadne==0.12.0
psycopg2-binary==2.8.6
watchdog==0.10.3
PyYAML==5.3.1
PyJWT==1.7.1
aspy.yaml==1.3.0
argh==0.26.2
pylint-django==2.3.0
pytest-django==4.0.0
django-annoying==0.10.6
django-ariadne-jwt==0.2.0
django-cors-headers==3.5.0
django-extensions==3.0.9
django-filter==2.4.0
django-fsm==2.7.1
django-hashers-passlib==0.4
django-jsonstore==0.4.1
django-material==1.7.1
django-mock-queries==2.1.5
django-storages==1.10.1
django-viewflow==1.6.1
djangorestframework==3.12.1
GraphQL-core-next==1.1.1
python-dateutil==2.8.1
hashids==1.3.1